= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js'
= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-cookies.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= javascript_include_tag 'angular_manifest', 'data-turbolinks-track' => true, media: 'all'
