!!!5
%html{"ng-app"=>"foosBallers"}
  %head
  %title FoosBallers
  = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.0.0/ng-tags-input.min.css'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body{"ng-controller"=>"MainAppController", "ng-class"=>"{'open-nav': navOpen}", "ng-init"=>"init(#{@current_user.try(:stats).to_json})"}
    = render 'layouts/navigation_drawer'

    .non-drawer-content
      .non-drawer-content-overlay{"mobile-click"=>"$emit('closeNav')"}
      .scrollable-content
        = render 'layouts/header'
        = yield
      %a.add-match.no-pulse{"ng-class"=>"{available: loggedIn(), unavailable: !loggedIn()}", "ng-click"=>"$emit('openPanel', 'addMatch')"}
        %span.plus+

      = render 'layouts/login_panel'
      = render 'layouts/sign_up_panel'
      = render 'layouts/add_match_panel'
      = render 'layouts/update_score_panel'

    = render 'layouts/included_javascripts'
